/*

   BORDER WIDTHS
   Docs: http://tachyons.io/docs/themes/borders/

   Base:
     bw = border-width

   Modifiers:
     0 = 0 width border
     1 = 1st step in border-width scale
     2 = 2nd step in border-width scale
     3 = 3rd step in border-width scale
     4 = 4th step in border-width scale
     5 = 5th step in border-width scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

%bw0 { border-width: var(--border-width-none); }
%bw1 { border-width: var(--border-width-1); }
%bw2 { border-width: var(--border-width-2); }
%bw3 { border-width: var(--border-width-3); }
%bw4 { border-width: var(--border-width-4); }
%bw5 { border-width: var(--border-width-5); }

/* Resets */
%bt-0 { border-top-width: var(--border-width-none) }
%br-0 { border-right-width: var(--border-width-none) }
%bb-0 { border-bottom-width: var(--border-width-none) }
%bl-0 { border-left-width: var(--border-width-none) }

@each $bkpt, $nmsp in (--breakpoint-not-small, --breakpoint-medium, --breakpoint-large), (ns, m, l) {
  @media ($bkpt) {
    %bw0-$(nmsp) {
      @extend %bw0;
    }
    %bw1-$(nmsp) {
      @extend %bw1;
    }
    %bw2-$(nmsp) {
      @extend %bw2;
    }
    %bw3-$(nmsp) {
      @extend %bw3;
    }
    %bw4-$(nmsp) {
      @extend %bw4;
    }
    %bw5-$(nmsp) {
      @extend %bw5;
    }
    
    %bt-0-$(nmsp) {
      @extend %bt-0;
    }
    %br-0-$(nmsp) {
      @extend %br-0;
    }
    %bb-0-$(nmsp) {
      @extend %bb-0;
    }
    %bl-0-$(nmsp) {
      @extend %bl-0;
    }
  }
}
