/*

   COORDINATES
   Docs: http://tachyons.io/docs/layout/position/

   Use in combination with the position module.

   Base:
     top
     bottom
     right
     left

   Modifiers:
     -0  = literal value 0
     -1  = literal value 1
     -2  = literal value 2
     --1 = literal value -1
     --2 = literal value -2

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

%top-0    { top:    0; }
%right-0  { right:  0; }
%bottom-0 { bottom: 0; }
%left-0   { left:   0; }

%top-1    { top:    1rem; }
%right-1  { right:  1rem; }
%bottom-1 { bottom: 1rem; }
%left-1   { left:   1rem; }

%top-2    { top:    2rem; }
%right-2  { right:  2rem; }
%bottom-2 { bottom: 2rem; }
%left-2   { left:   2rem; }

%top--1    { top:    -1rem; }
%right--1  { right:  -1rem; }
%bottom--1 { bottom: -1rem; }
%left--1   { left:   -1rem; }

%top--2    { top:    -2rem; }
%right--2  { right:  -2rem; }
%bottom--2 { bottom: -2rem; }
%left--2   { left:   -2rem; }


%absolute--fill {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@each $bkpt, $nmsp in (--breakpoint-not-small, --breakpoint-medium, --breakpoint-large), (ns, m, l) {
  @media ($bkpt) {
    %top-0-$(nmsp) {
      @extend %top-0;
    }
    %right-0-$(nmsp) {
      @extend %right-0;
    }
    %bottom-0-$(nmsp) {
      @extend %bottom-0;
    }
    %left-0-$(nmsp) {
      @extend %left-0;
    }
    
    %top-1-$(nmsp) {
      @extend %top-1;
    }
    %right-1-$(nmsp) {
      @extend %right-1;
    }
    %bottom-1-$(nmsp) {
      @extend %bottom-1;
    }
    %left-1-$(nmsp) {
      @extend %left-1;
    }
    
    %top-2-$(nmsp) {
      @extend %top-2;
    }
    %right-2-$(nmsp) {
      @extend %right-2;
    }
    %bottom-2-$(nmsp) {
      @extend %bottom-2;
    }
    %left-2-$(nmsp) {
      @extend %left-2;
    }

    %top--1-$(nmsp) {
      @extend %top--1;
    }
    %right--1-$(nmsp) {
      @extend %right--1;
    }
    %bottom--1-$(nmsp) {
      @extend %bottom--1;
    }
    %left--1-$(nmsp) {
      @extend %left--1;
    }
    
    %top--2-$(nmsp) {
      @extend %top--2;
    }
    %right--2-$(nmsp) {
      @extend %right--2;
    }
    %bottom--2-$(nmsp) {
      @extend %bottom--2;
    }
    %left--2-$(nmsp) {
      @extend %left--2;
    }
    
    %absolute--fill-$(nmsp) {
      @extend %absolute--fill;
    }
  }
}
