/*

   DISPLAY
   Docs: http://tachyons.io/docs/layout/display

   Base:
    d = display

   Modifiers:
    n     = none
    b     = block
    ib    = inline-block
    it    = inline-table
    t     = table
    tc    = table-cell
    tr    = table-row
    tcol  = table-column
    tcolg = table-column-group

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

%dn {              display: none; }
%di {              display: inline; }
%db {              display: block; }
%dib {             display: inline-block; }
%dit {             display: inline-table; }
%dt {              display: table; }
%dtc {             display: table-cell; }
%dt-row {          display: table-row; }
%dt-row-group {    display: table-row-group; }
%dt-column {       display: table-column; }
%dt-column-group { display: table-column-group; }

/*
  This will set table to full width and then
  all cells will be equal width
*/
%dt--fixed {
  table-layout: fixed;
  width: 100%;
}

@each $bkpt, $nmsp in (--breakpoint-not-small, --breakpoint-medium, --breakpoint-large), (ns, m, l) {
  @media ($bkpt) {
    %dn-$(nmsp) {
      @extend %dn;
    }
    %di-$(nmsp) {
      @extend %di;
    }
    %db-$(nmsp) {
      @extend %db;
    }
    %dib-$(nmsp) {
      @extend %dib;
    }
    %dit-$(nmsp) {
      @extend %dit;
    }
    %dt-$(nmsp) {
      @extend %dt;
    }
    %dtc-$(nmsp) {
      @extend %dtc;
    }
    %dt-row-$(nmsp) {
      @extend %dt-row;
    }
    %dt-row-group-$(nmsp) {
      @extend %dt-row-group;
    }
    %dt-column-$(nmsp) {
      @extend %dt-column;
    }
    %dt-column-group-$(nmsp) {
      @extend %dt-column-group;
    }
    %dt--fixed-$(nmsp) {
      @extend %dt--fixed;
    }
  }
}
