/*

  FLEXBOX

  Media Query Extensions:
   -ns = not-small
   -m  = medium
   -l  = large

*/

%flex { display: flex; }
%inline-flex { display: inline-flex; }

/* 1. Fix for Chrome 44 bug.
 * https://code.google.com/p/chromium/issues/detail?id=506893 */
%flex-auto {
  flex: 1 1 auto;
  min-width: 0; /* 1 */
  min-height: 0; /* 1 */
}

%flex-none { flex: none; }

%flex-column  { flex-direction: column; }
%flex-row     { flex-direction: row; }
%flex-wrap    { flex-wrap: wrap; }
%flex-nowrap    { flex-wrap: nowrap; }
%flex-wrap-reverse    { flex-wrap: wrap-reverse; }
%flex-column-reverse  { flex-direction: column-reverse; }
%flex-row-reverse     { flex-direction: row-reverse; }

%items-start    { align-items: flex-start; }
%items-end      { align-items: flex-end; }
%items-center   { align-items: center; }
%items-baseline { align-items: baseline; }
%items-stretch  { align-items: stretch; }

%self-start    { align-self: flex-start; }
%self-end      { align-self: flex-end; }
%self-center   { align-self: center; }
%self-baseline { align-self: baseline; }
%self-stretch  { align-self: stretch; }

%justify-start   { justify-content: flex-start; }
%justify-end     { justify-content: flex-end; }
%justify-center  { justify-content: center; }
%justify-between { justify-content: space-between; }
%justify-around  { justify-content: space-around; }

%content-start   { align-content: flex-start; }
%content-end     { align-content: flex-end; }
%content-center  { align-content: center; }
%content-between { align-content: space-between; }
%content-around  { align-content: space-around; }
%content-stretch { align-content: stretch; }

%order-0 { order: 0; }
%order-1 { order: 1; }
%order-2 { order: 2; }
%order-3 { order: 3; }
%order-4 { order: 4; }
%order-5 { order: 5; }
%order-6 { order: 6; }
%order-7 { order: 7; }
%order-8 { order: 8; }
%order-last { order: 99999; }

%flex-grow-0 { flex-grow: 0; }
%flex-grow-1 { flex-grow: 1; }

%flex-shrink-0 { flex-shrink: 0; }
%flex-shrink-1 { flex-shrink: 1; }

@each $bkpt, $nmsp in (--breakpoint-not-small, --breakpoint-medium, --breakpoint-large), (ns, m, l) {
  @media ($bkpt) {
    %flex-$(nmsp) {
      @extend %flex;
    }
    %inline-flex-$(nmsp) {
      @extend %inline-flex;
    }
    %flex-auto-$(nmsp) {
      @extend %flex-auto;
    }
    %flex-none-$(nmsp) {
      @extend %flex-none;
    }
    %flex-column-$(nmsp) {
      @extend %flex-column;
    }
    %flex-row-$(nmsp) {
      @extend %flex-row;
    }
    %flex-wrap-$(nmsp) {
      @extend %flex-wrap;
    }
    %flex-nowrap-$(nmsp) {
      @extend %flex-nowrap;
    }
    %flex-wrap-reverse-$(nmsp) {
      @extend %flex-wrap-reverse;
    }
    %flex-column-reverse-$(nmsp) {
      @extend %flex-column-reverse;
    }
    %flex-row-reverse-$(nmsp) {
      @extend %flex-row-reverse;
    }

    %items-start-$(nmsp) {
      @extend %items-start;
    }
    %items-end-$(nmsp) {
      @extend %items-end;
    }
    %items-center-$(nmsp) {
      @extend %items-center;
    }
    %items-baseline-$(nmsp) {
      @extend %items-baseline;
    }
    %items-stretch-$(nmsp) {
      @extend %items-stretch;
    }
    
    %self-start-$(nmsp) {
      @extend %self-start;
    }
    %self-end-$(nmsp) {
      @extend %self-end;
    }
    %self-center-$(nmsp) {
      @extend %self-center;
    }
    %self-baseline-$(nmsp) {
      @extend %self-baseline;
    }
    %self-stretch-$(nmsp) {
      @extend %self-stretch;
    }
    %justify-start-$(nmsp) {
      @extend %justify-start;
    }
    %justify-end-$(nmsp) {
      @extend %justify-end;
    }
    %justify-center-$(nmsp) {
      @extend %justify-center;
    }
    %justify-between-$(nmsp) {
      @extend %justify-between;
    }
    %justify-around-$(nmsp) {
      @extend %justify-around;
    }
    
    %content-start-$(nmsp) {
      @extend %content-start;
    }
    %content-end-$(nmsp) {
      @extend %content-end;
    }
    %content-center-$(nmsp) {
      @extend %content-center;
    }
    %content-between-$(nmsp) {
      @extend %content-between;
    }
    %content-around-$(nmsp) {
      @extend %content-around;
    }
    %content-stretch-$(nmsp) {
      @extend %content-stretch;
    }
    
    %order-0-$(nmsp) {
      @extend %order-0;
    }
    %order-1-$(nmsp) {
      @extend %order-1;
    }
    %order-2-$(nmsp) {
      @extend %order-2;
    }
    %order-3-$(nmsp) {
      @extend %order-3;
    }
    %order-4-$(nmsp) {
      @extend %order-4;
    }
    %order-5-$(nmsp) {
      @extend %order-5;
    }
    %order-6-$(nmsp) {
      @extend %order-6;
    }
    %order-7-$(nmsp) {
      @extend %order-7;
    }
    %order-8-$(nmsp) {
      @extend %order-8;
    }
    %order-last-$(nmsp) {
      @extend %order-last;
    }
    
    %flex-grow-0-$(nmsp) {
      @extend %flex-grow-0;
    }
    %flex-grow-1-$(nmsp) {
      @extend %flex-grow-1;
    }
    
    %flex-shrink-0-$(nmsp) {
      @extend %flex-shrink-0;
    }
    %flex-shrink-1-$(nmsp) {
      @extend %flex-shrink-1;
    }
  }
}
