/*

   FONT WEIGHT
   Docs: http://tachyons.io/docs/typography/font-weight/

   Base
     fw = font-weight

   Modifiers:
     1 = literal value 100
     2 = literal value 200
     3 = literal value 300
     4 = literal value 400
     5 = literal value 500
     6 = literal value 600
     7 = literal value 700
     8 = literal value 800
     9 = literal value 900

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

%normal { font-weight: normal; }
%b      { font-weight: bold; }
%fw1    { font-weight: 100; }
%fw2    { font-weight: 200; }
%fw3    { font-weight: 300; }
%fw4    { font-weight: 400; }
%fw5    { font-weight: 500; }
%fw6    { font-weight: 600; }
%fw7    { font-weight: 700; }
%fw8    { font-weight: 800; }
%fw9    { font-weight: 900; }

@each $bkpt, $nmsp in (--breakpoint-not-small, --breakpoint-medium, --breakpoint-large), (ns, m, l) {
  @media ($bkpt) {
    %normal-$(nmsp) {
      @extend %normal;
    }
    %b-$(nmsp) {
      @extend %b;
    }
    %fw1-$(nmsp) {
      @extend %fw1;
    }
    %fw2-$(nmsp) {
      @extend %fw2;
    }
    %fw3-$(nmsp) {
      @extend %fw3;
    }
    %fw4-$(nmsp) {
      @extend %fw4;
    }
    %fw5-$(nmsp) {
      @extend %fw5;
    }
    %fw6-$(nmsp) {
      @extend %fw6;
    }
    %fw7-$(nmsp) {
      @extend %fw7;
    }
    %fw8-$(nmsp) {
      @extend %fw8;
    }
    %fw9-$(nmsp) {
      @extend %fw9;
    }
  }
}
