/*

   LETTER SPACING
   Docs: http://tachyons.io/docs/typography/tracking/

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

%tracked       { letter-spacing:  var(--letter-spacing-1); }
%tracked-tight { letter-spacing: var(--letter-spacing-tight); }
%tracked-mega  { letter-spacing:  var(--letter-spacing-2); }

@each $bkpt, $nmsp in (--breakpoint-not-small, --breakpoint-medium, --breakpoint-large), (ns, m, l) {
  @media ($bkpt) {
    %tracked-$(nmsp) {
      @extend %tracked;
    }
    %tracked-tight-$(nmsp) {
      @extend %tracked-tight;
    }
    %tracked-mega-$(nmsp) {
      @extend %tracked-mega;
    }
  }
}
