/*

   LINE HEIGHT / LEADING
   Docs: http://tachyons.io/docs/typography/line-height

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

  %lh-solid { line-height: var(--line-height-solid); }
  %lh-title { line-height: var(--line-height-title); }
  %lh-copy  { line-height: var(--line-height-copy); }

  @each $bkpt, $nmsp in (--breakpoint-not-small, --breakpoint-medium, --breakpoint-large), (ns, m, l) {
    @media ($bkpt) {
      %lh-solid-$(nmsp) {
        @extend %lh-solid;
      }
      %lh-title-$(nmsp) {
        @extend %lh-title;
      }
      %lh-copy-$(nmsp) {
        @extend %lh-copy;
      }
    }
  }
  