/*

   MAX WIDTHS
   Docs: http://tachyons.io/docs/layout/max-widths/

   Base:
     mw = max-width

   Modifiers
     1 = 1st step in width scale
     2 = 2nd step in width scale
     3 = 3rd step in width scale
     4 = 4th step in width scale
     5 = 5th step in width scale
     6 = 6st step in width scale
     7 = 7nd step in width scale
     8 = 8rd step in width scale
     9 = 9th step in width scale

     -100 = literal value 100%

     -none  = string value none


   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/* Max Width Percentages */

%mw-100  { max-width: 100%; }

/* Max Width Scale */

%mw1  {  max-width: var(--max-width-1); }
%mw2  {  max-width: var(--max-width-2); }
%mw3  {  max-width: var(--max-width-3); }
%mw4  {  max-width: var(--max-width-4); }
%mw5  {  max-width: var(--max-width-5); }
%mw6  {  max-width: var(--max-width-6); }
%mw7  {  max-width: var(--max-width-7); }
%mw8  {  max-width: var(--max-width-8); }
%mw9  {  max-width: var(--max-width-9); }

/* Max Width String Properties */

%mw-none { max-width: none; }

@each $bkpt, $nmsp in (--breakpoint-not-small, --breakpoint-medium, --breakpoint-large), (ns, m, l) {
  @media ($bkpt) {
    %mw-100-$(nmsp) {
      @extend %mw-100;
    }

    %mw1-$(nmsp) {
      @extend %mw1;
    }
    %mw2-$(nmsp) {
      @extend %mw2;
    }
    %mw3-$(nmsp) {
      @extend %mw3;
    }
    %mw4-$(nmsp) {
      @extend %mw4;
    }
    %mw5-$(nmsp) {
      @extend %mw5;
    }
    %mw6-$(nmsp) {
      @extend %mw6;
    }
    %mw7-$(nmsp) {
      @extend %mw7;
    }
    %mw8-$(nmsp) {
      @extend %mw8;
    }
    %mw9-$(nmsp) {
      @extend %mw9;
    }
    
    %mw-none-$(nmsp) {
      @extend %mw-none;
    }
  }
}
