/*
   NEGATIVE MARGINS

   Base:
     n = negative

   Modifiers:
     a = all
     t = top
     r = right
     b = bottom
     l = left

     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/



%na1 { margin: -var(--spacing-extra-small); }
%na2 { margin: -var(--spacing-small); }
%na3 { margin: -var(--spacing-medium); }
%na4 { margin: -var(--spacing-large); }
%na5 { margin: -var(--spacing-extra-large); }
%na6 { margin: -var(--spacing-extra-extra-large); }
%na7 { margin: -var(--spacing-extra-extra-extra-large); }

%nl1 { margin-left: -var(--spacing-extra-small); }
%nl2 { margin-left: -var(--spacing-small); }
%nl3 { margin-left: -var(--spacing-medium); }
%nl4 { margin-left: -var(--spacing-large); }
%nl5 { margin-left: -var(--spacing-extra-large); }
%nl6 { margin-left: -var(--spacing-extra-extra-large); }
%nl7 { margin-left: -var(--spacing-extra-extra-extra-large); }

%nr1 { margin-right: -var(--spacing-extra-small); }
%nr2 { margin-right: -var(--spacing-small); }
%nr3 { margin-right: -var(--spacing-medium); }
%nr4 { margin-right: -var(--spacing-large); }
%nr5 { margin-right: -var(--spacing-extra-large); }
%nr6 { margin-right: -var(--spacing-extra-extra-large); }
%nr7 { margin-right: -var(--spacing-extra-extra-extra-large); }

%nb1 { margin-bottom: -var(--spacing-extra-small); }
%nb2 { margin-bottom: -var(--spacing-small); }
%nb3 { margin-bottom: -var(--spacing-medium); }
%nb4 { margin-bottom: -var(--spacing-large); }
%nb5 { margin-bottom: -var(--spacing-extra-large); }
%nb6 { margin-bottom: -var(--spacing-extra-extra-large); }
%nb7 { margin-bottom: -var(--spacing-extra-extra-extra-large); }

%nt1 { margin-top: -var(--spacing-extra-small); }
%nt2 { margin-top: -var(--spacing-small); }
%nt3 { margin-top: -var(--spacing-medium); }
%nt4 { margin-top: -var(--spacing-large); }
%nt5 { margin-top: -var(--spacing-extra-large); }
%nt6 { margin-top: -var(--spacing-extra-extra-large); }
%nt7 { margin-top: -var(--spacing-extra-extra-extra-large); }

@each $bkpt, $nmsp in (--breakpoint-not-small, --breakpoint-medium, --breakpoint-large), (ns, m, l) {
  @media ($bkpt) {
    %na1-$(nmsp) {
      @extend %na1;
    }
    %na2-$(nmsp) {
      @extend %na2;
    }
    %na3-$(nmsp) {
      @extend %na3;
    }
    %na4-$(nmsp) {
      @extend %na4;
    }
    %na5-$(nmsp) {
      @extend %na5;
    }
    %na6-$(nmsp) {
      @extend %na6;
    }
    %na7-$(nmsp) {
      @extend %na7;
    }

    %nl1-$(nmsp) {
      @extend %nl1;
    }
    %nl2-$(nmsp) {
      @extend %nl2;
    }
    %nl3-$(nmsp) {
      @extend %nl3;
    }
    %nl4-$(nmsp) {
      @extend %nl4;
    }
    %nl5-$(nmsp) {
      @extend %nl5;
    }
    %nl6-$(nmsp) {
      @extend %nl6;
    }
    %nl7-$(nmsp) {
      @extend %nl7;
    }

    %nr1-$(nmsp) {
      @extend %nr1;
    }
    %nr2-$(nmsp) {
      @extend %nr2;
    }
    %nr3-$(nmsp) {
      @extend %nr3;
    }
    %nr4-$(nmsp) {
      @extend %nr4;
    }
    %nr5-$(nmsp) {
      @extend %nr5;
    }
    %nr6-$(nmsp) {
      @extend %nr6;
    }
    %nr7-$(nmsp) {
      @extend %nr7;
    }

    %nb1-$(nmsp) {
      @extend %nb1;
    }
    %nb2-$(nmsp) {
      @extend %nb2;
    }
    %nb3-$(nmsp) {
      @extend %nb3;
    }
    %nb4-$(nmsp) {
      @extend %nb4;
    }
    %nb5-$(nmsp) {
      @extend %nb5;
    }
    %nb6-$(nmsp) {
      @extend %nb6;
    }
    %nb7-$(nmsp) {
      @extend %nb7;
    }

    %nt1-$(nmsp) {
      @extend %nt1;
    }
    %nt2-$(nmsp) {
      @extend %nt2;
    }
    %nt3-$(nmsp) {
      @extend %nt3;
    }
    %nt4-$(nmsp) {
      @extend %nt4;
    }
    %nt5-$(nmsp) {
      @extend %nt5;
    }
    %nt6-$(nmsp) {
      @extend %nt6;
    }
    %nt7-$(nmsp) {
      @extend %nt7;
    }
  }
}
