/*

   OUTLINES

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

%outline { outline: 1px solid; }
%outline-transparent { outline: 1px solid transparent; }
%outline-0 { outline: 0; }

@each $bkpt, $nmsp in (--breakpoint-not-small, --breakpoint-medium, --breakpoint-large), (ns, m, l) {
  @media ($bkpt) {
    %outline-$(nmsp) {
      @extend %outline;
    }
    %outline-transparent-$(nmsp) {
      @extend %outline-transparent;
    }
    %outline-0-$(nmsp) {
      @extend %outline-0;
    }
  }
}
