/*

    OVERFLOW

    Media Query Extensions:
      -ns = not-small
      -m  = medium
      -l  = large

 */

%overflow-visible { overflow: visible; }
%overflow-hidden { overflow: hidden; }
%overflow-scroll { overflow: scroll; }
%overflow-auto { overflow: auto; }

%overflow-x-visible { overflow-x: visible; }
%overflow-x-hidden { overflow-x: hidden; }
%overflow-x-scroll { overflow-x: scroll; }
%overflow-x-auto { overflow-x: auto; }

%overflow-y-visible { overflow-y: visible; }
%overflow-y-hidden { overflow-y: hidden; }
%overflow-y-scroll { overflow-y: scroll; }
%overflow-y-auto { overflow-y: auto; }

@each $bkpt, $nmsp in (--breakpoint-not-small, --breakpoint-medium, --breakpoint-large), (ns, m, l) {
  @media ($bkpt) {
    %overflow-visible-$(nmsp) {
      @extend %overflow-visible;
    }
    %overflow-hidden-$(nmsp) {
      @extend %overflow-hidden;
    }
    %overflow-scroll-$(nmsp) {
      @extend %overflow-scroll;
    }
    %overflow-auto-$(nmsp) {
      @extend %overflow-auto;
    }
    
    %overflow-x-visible-$(nmsp) {
      @extend %overflow-x-visible;
    }
    %overflow-x-hidden-$(nmsp) {
      @extend %overflow-x-hidden;
    }
    %overflow-x-scroll-$(nmsp) {
      @extend %overflow-x-scroll;
    }
    %overflow-x-auto-$(nmsp) {
      @extend %overflow-x-auto;
    }
    
    %overflow-y-visible-$(nmsp) {
      @extend %overflow-y-visible;
    }
    %overflow-y-hidden-$(nmsp) {
      @extend %overflow-y-hidden;
    }
    %overflow-y-scroll-$(nmsp) {
      @extend %overflow-y-scroll;
    }
    %overflow-y-auto-$(nmsp) {
      @extend %overflow-y-auto;
    }
  }
}
