/*

   POSITIONING
   Docs: http://tachyons.io/docs/layout/position/

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

%static { position: static; }
%relative  { position: relative; }
%absolute  { position: absolute; }
%fixed  { position: fixed; }

@each $bkpt, $nmsp in (--breakpoint-not-small, --breakpoint-medium, --breakpoint-large), (ns, m, l) {
  @media ($bkpt) {
    %static-$(nmsp) {
      @extend %static;
    }
    %relative-$(nmsp) {
      @extend %relative;
    }
    %absolute-$(nmsp) {
      @extend %absolute;
    }
    %fixed-$(nmsp) {
      @extend %fixed;
    }
  }
}
