/* Variables */

:root {
}

/*
   SPACING
   Docs: http://tachyons.io/docs/layout/spacing/

   An eight step powers of two scale ranging from 0 to 16rem.

   Base:
     p = padding
     m = margin

   Modifiers:
     a = all
     h = horizontal
     v = vertical
     t = top
     r = right
     b = bottom
     l = left

     0 = none
     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/


%pa0 { padding: var(--spacing-none); }
%pa1 { padding: var(--spacing-extra-small); }
%pa2 { padding: var(--spacing-small); }
%pa3 { padding: var(--spacing-medium); }
%pa4 { padding: var(--spacing-large); }
%pa5 { padding: var(--spacing-extra-large); }
%pa6 { padding: var(--spacing-extra-extra-large); }
%pa7 { padding: var(--spacing-extra-extra-extra-large); }

%pl0 { padding-left: var(--spacing-none); }
%pl1 { padding-left: var(--spacing-extra-small); }
%pl2 { padding-left: var(--spacing-small); }
%pl3 { padding-left: var(--spacing-medium); }
%pl4 { padding-left: var(--spacing-large); }
%pl5 { padding-left: var(--spacing-extra-large); }
%pl6 { padding-left: var(--spacing-extra-extra-large); }
%pl7 { padding-left: var(--spacing-extra-extra-extra-large); }

%pr0 { padding-right: var(--spacing-none); }
%pr1 { padding-right: var(--spacing-extra-small); }
%pr2 { padding-right: var(--spacing-small); }
%pr3 { padding-right: var(--spacing-medium); }
%pr4 { padding-right: var(--spacing-large); }
%pr5 { padding-right: var(--spacing-extra-large); }
%pr6 { padding-right: var(--spacing-extra-extra-large); }
%pr7 { padding-right: var(--spacing-extra-extra-extra-large); }

%pb0 { padding-bottom: var(--spacing-none); }
%pb1 { padding-bottom: var(--spacing-extra-small); }
%pb2 { padding-bottom: var(--spacing-small); }
%pb3 { padding-bottom: var(--spacing-medium); }
%pb4 { padding-bottom: var(--spacing-large); }
%pb5 { padding-bottom: var(--spacing-extra-large); }
%pb6 { padding-bottom: var(--spacing-extra-extra-large); }
%pb7 { padding-bottom: var(--spacing-extra-extra-extra-large); }

%pt0 { padding-top: var(--spacing-none); }
%pt1 { padding-top: var(--spacing-extra-small); }
%pt2 { padding-top: var(--spacing-small); }
%pt3 { padding-top: var(--spacing-medium); }
%pt4 { padding-top: var(--spacing-large); }
%pt5 { padding-top: var(--spacing-extra-large); }
%pt6 { padding-top: var(--spacing-extra-extra-large); }
%pt7 { padding-top: var(--spacing-extra-extra-extra-large); }

%pv0 {
  padding-top: var(--spacing-none);
  padding-bottom: var(--spacing-none);
}
%pv1 {
  padding-top: var(--spacing-extra-small);
  padding-bottom: var(--spacing-extra-small);
}
%pv2 {
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
}
%pv3 {
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
}
%pv4 {
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-large);
}
%pv5 {
  padding-top: var(--spacing-extra-large);
  padding-bottom: var(--spacing-extra-large);
}
%pv6 {
  padding-top: var(--spacing-extra-extra-large);
  padding-bottom: var(--spacing-extra-extra-large);
}

%pv7 {
  padding-top: var(--spacing-extra-extra-extra-large);
  padding-bottom: var(--spacing-extra-extra-extra-large);
}

%ph0 {
  padding-left: var(--spacing-none);
  padding-right: var(--spacing-none);
}

%ph1 {
  padding-left: var(--spacing-extra-small);
  padding-right: var(--spacing-extra-small);
}

%ph2 {
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
}

%ph3 {
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
}

%ph4 {
  padding-left: var(--spacing-large);
  padding-right: var(--spacing-large);
}

%ph5 {
  padding-left: var(--spacing-extra-large);
  padding-right: var(--spacing-extra-large);
}

%ph6 {
  padding-left: var(--spacing-extra-extra-large);
  padding-right: var(--spacing-extra-extra-large);
}

%ph7 {
  padding-left: var(--spacing-extra-extra-extra-large);
  padding-right: var(--spacing-extra-extra-extra-large);
}

%ma0  {  margin: var(--spacing-none); }
%ma1 {  margin: var(--spacing-extra-small); }
%ma2  {  margin: var(--spacing-small); }
%ma3  {  margin: var(--spacing-medium); }
%ma4  {  margin: var(--spacing-large); }
%ma5  {  margin: var(--spacing-extra-large); }
%ma6 {  margin: var(--spacing-extra-extra-large); }
%ma7 { margin: var(--spacing-extra-extra-extra-large); }

%ml0  {  margin-left: var(--spacing-none); }
%ml1 {  margin-left: var(--spacing-extra-small); }
%ml2  {  margin-left: var(--spacing-small); }
%ml3  {  margin-left: var(--spacing-medium); }
%ml4  {  margin-left: var(--spacing-large); }
%ml5  {  margin-left: var(--spacing-extra-large); }
%ml6 {  margin-left: var(--spacing-extra-extra-large); }
%ml7 { margin-left: var(--spacing-extra-extra-extra-large); }

%mr0  {  margin-right: var(--spacing-none); }
%mr1 {  margin-right: var(--spacing-extra-small); }
%mr2  {  margin-right: var(--spacing-small); }
%mr3  {  margin-right: var(--spacing-medium); }
%mr4  {  margin-right: var(--spacing-large); }
%mr5  {  margin-right: var(--spacing-extra-large); }
%mr6 {  margin-right: var(--spacing-extra-extra-large); }
%mr7 { margin-right: var(--spacing-extra-extra-extra-large); }

%mb0  {  margin-bottom: var(--spacing-none); }
%mb1 {  margin-bottom: var(--spacing-extra-small); }
%mb2  {  margin-bottom: var(--spacing-small); }
%mb3  {  margin-bottom: var(--spacing-medium); }
%mb4  {  margin-bottom: var(--spacing-large); }
%mb5  {  margin-bottom: var(--spacing-extra-large); }
%mb6 {  margin-bottom: var(--spacing-extra-extra-large); }
%mb7 { margin-bottom: var(--spacing-extra-extra-extra-large); }

%mt0  {  margin-top: var(--spacing-none); }
%mt1 {  margin-top: var(--spacing-extra-small); }
%mt2  {  margin-top: var(--spacing-small); }
%mt3  {  margin-top: var(--spacing-medium); }
%mt4  {  margin-top: var(--spacing-large); }
%mt5  {  margin-top: var(--spacing-extra-large); }
%mt6 {  margin-top: var(--spacing-extra-extra-large); }
%mt7 { margin-top: var(--spacing-extra-extra-extra-large); }

%mv0   {
  margin-top: var(--spacing-none);
  margin-bottom: var(--spacing-none);
}
%mv1  {
  margin-top: var(--spacing-extra-small);
  margin-bottom: var(--spacing-extra-small);
}
%mv2   {
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-small);
}
%mv3   {
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
}
%mv4   {
  margin-top: var(--spacing-large);
  margin-bottom: var(--spacing-large);
}
%mv5   {
  margin-top: var(--spacing-extra-large);
  margin-bottom: var(--spacing-extra-large);
}
%mv6  {
  margin-top: var(--spacing-extra-extra-large);
  margin-bottom: var(--spacing-extra-extra-large);
}
%mv7  {
  margin-top: var(--spacing-extra-extra-extra-large);
  margin-bottom: var(--spacing-extra-extra-extra-large);
}

%mh0   {
  margin-left: var(--spacing-none);
  margin-right: var(--spacing-none);
}
%mh1   {
  margin-left: var(--spacing-extra-small);
  margin-right: var(--spacing-extra-small);
}
%mh2   {
  margin-left: var(--spacing-small);
  margin-right: var(--spacing-small);
}
%mh3   {
  margin-left: var(--spacing-medium);
  margin-right: var(--spacing-medium);
}
%mh4   {
  margin-left: var(--spacing-large);
  margin-right: var(--spacing-large);
}
%mh5   {
  margin-left: var(--spacing-extra-large);
  margin-right: var(--spacing-extra-large);
}
%mh6  {
  margin-left: var(--spacing-extra-extra-large);
  margin-right: var(--spacing-extra-extra-large);
}
%mh7  {
  margin-left: var(--spacing-extra-extra-extra-large);
  margin-right: var(--spacing-extra-extra-extra-large);
}

@each $bkpt, $nmsp in (--breakpoint-not-small, --breakpoint-medium, --breakpoint-large), (ns, m, l) {
  @media ($bkpt) {
    %pa0-$(nmsp) {
      @extend %pa0;
    }
    %pa1-$(nmsp) {
      @extend %pa1;
    }
    %pa2-$(nmsp) {
      @extend %pa2;
    }
    %pa3-$(nmsp) {
      @extend %pa3;
    }
    %pa4-$(nmsp) {
      @extend %pa4;
    }
    %pa5-$(nmsp) {
      @extend %pa5;
    }
    %pa6-$(nmsp) {
      @extend %pa6;
    }
    %pa7-$(nmsp) {
      @extend %pa7;
    }

    %pl0-$(nmsp) {
      @extend %pl0;
    }
    %pl1-$(nmsp) {
      @extend %pl1;
    }
    %pl2-$(nmsp) {
      @extend %pl2;
    }
    %pl3-$(nmsp) {
      @extend %pl3;
    }
    %pl4-$(nmsp) {
      @extend %pl4;
    }
    %pl5-$(nmsp) {
      @extend %pl5;
    }
    %pl6-$(nmsp) {
      @extend %pl6;
    }
    %pl7-$(nmsp) {
      @extend %pl7;
    }

    %pr0-$(nmsp) {
      @extend %pr0;
    }
    %pr1-$(nmsp) {
      @extend %pr1;
    }
    %pr2-$(nmsp) {
      @extend %pr2;
    }
    %pr3-$(nmsp) {
      @extend %pr3;
    }
    %pr4-$(nmsp) {
      @extend %pr4;
    }
    %pr5-$(nmsp) {
      @extend %pr5;
    }
    %pr6-$(nmsp) {
      @extend %pr6;
    }
    %pr7-$(nmsp) {
      @extend %pr7;
    }

    %pb0-$(nmsp) {
      @extend %pb0;
    }
    %pb1-$(nmsp) {
      @extend %pb1;
    }
    %pb2-$(nmsp) {
      @extend %pb2;
    }
    %pb3-$(nmsp) {
      @extend %pb3;
    }
    %pb4-$(nmsp) {
      @extend %pb4;
    }
    %pb5-$(nmsp) {
      @extend %pb5;
    }
    %pb6-$(nmsp) {
      @extend %pb6;
    }
    %pb7-$(nmsp) {
      @extend %pb7;
    }

    %pt0-$(nmsp) {
      @extend %pt0;
    }
    %pt1-$(nmsp) {
      @extend %pt1;
    }
    %pt2-$(nmsp) {
      @extend %pt2;
    }
    %pt3-$(nmsp) {
      @extend %pt3;
    }
    %pt4-$(nmsp) {
      @extend %pt4;
    }
    %pt5-$(nmsp) {
      @extend %pt5;
    }
    %pt6-$(nmsp) {
      @extend %pt6;
    }
    %pt7-$(nmsp) {
      @extend %pt7;
    }

    %pv0-$(nmsp) {
      @extend %pv0;
    }
    %pv1-$(nmsp) {
      @extend %pv1;
    }
    %pv2-$(nmsp) {
      @extend %pv2;
    }
    %pv3-$(nmsp) {
      @extend %pv3;
    }
    %pv4-$(nmsp) {
      @extend %pv4;
    }
    %pv5-$(nmsp) {
      @extend %pv5;
    }
    %pv6-$(nmsp) {
      @extend %pv6;
    }
    %pv7-$(nmsp) {
      @extend %pv7;
    }

    %ph0-$(nmsp) {
      @extend %ph0;
    }
    %ph1-$(nmsp) {
      @extend %ph1;
    }
    %ph2-$(nmsp) {
      @extend %ph2;
    }
    %ph3-$(nmsp) {
      @extend %ph3;
    }
    %ph4-$(nmsp) {
      @extend %ph4;
    }
    %ph5-$(nmsp) {
      @extend %ph5;
    }
    %ph6-$(nmsp) {
      @extend %ph6;
    }
    %ph7-$(nmsp) {
      @extend %ph7;
    }

    %ma0-$(nmsp) {
      @extend %ma0;
    }
    %ma1-$(nmsp) {
      @extend %ma1;
    }
    %ma2-$(nmsp) {
      @extend %ma2;
    }
    %ma3-$(nmsp) {
      @extend %ma3;
    }
    %ma4-$(nmsp) {
      @extend %ma4;
    }
    %ma5-$(nmsp) {
      @extend %ma5;
    }
    %ma6-$(nmsp) {
      @extend %ma6;
    }
    %ma7-$(nmsp) {
      @extend %ma7;
    }

    %ml0-$(nmsp) {
      @extend %ml0;
    }
    %ml1-$(nmsp) {
      @extend %ml1;
    }
    %ml2-$(nmsp) {
      @extend %ml2;
    }
    %ml3-$(nmsp) {
      @extend %ml3;
    }
    %ml4-$(nmsp) {
      @extend %ml4;
    }
    %ml5-$(nmsp) {
      @extend %ml5;
    }
    %ml6-$(nmsp) {
      @extend %ml6;
    }
    %ml7-$(nmsp) {
      @extend %ml7;
    }

    %mr0-$(nmsp) {
      @extend %mr0;
    }
    %mr1-$(nmsp) {
      @extend %mr1;
    }
    %mr2-$(nmsp) {
      @extend %mr2;
    }
    %mr3-$(nmsp) {
      @extend %mr3;
    }
    %mr4-$(nmsp) {
      @extend %mr4;
    }
    %mr5-$(nmsp) {
      @extend %mr5;
    }
    %mr6-$(nmsp) {
      @extend %mr6;
    }
    %mr7-$(nmsp) {
      @extend %mr7;
    }

    %mb0-$(nmsp) {
      @extend %mb0;
    }
    %mb1-$(nmsp) {
      @extend %mb1;
    }
    %mb2-$(nmsp) {
      @extend %mb2;
    }
    %mb3-$(nmsp) {
      @extend %mb3;
    }
    %mb4-$(nmsp) {
      @extend %mb4;
    }
    %mb5-$(nmsp) {
      @extend %mb5;
    }
    %mb6-$(nmsp) {
      @extend %mb6;
    }
    %mb7-$(nmsp) {
      @extend %mb7;
    }

    %mt0-$(nmsp) {
      @extend %mt0;
    }
    %mt1-$(nmsp) {
      @extend %mt1;
    }
    %mt2-$(nmsp) {
      @extend %mt2;
    }
    %mt3-$(nmsp) {
      @extend %mt3;
    }
    %mt4-$(nmsp) {
      @extend %mt4;
    }
    %mt5-$(nmsp) {
      @extend %mt5;
    }
    %mt6-$(nmsp) {
      @extend %mt6;
    }
    %mt7-$(nmsp) {
      @extend %mt7;
    }

    %mv0-$(nmsp) {
      @extend %mv0;
    }
    %mv1-$(nmsp) {
      @extend %mv1;
    }
    %mv2-$(nmsp) {
      @extend %mv2;
    }
    %mv3-$(nmsp) {
      @extend %mv3;
    }
    %mv4-$(nmsp) {
      @extend %mv4;
    }
    %mv5-$(nmsp) {
      @extend %mv5;
    }
    %mv6-$(nmsp) {
      @extend %mv6;
    }
    %mv7-$(nmsp) {
      @extend %mv7;
    }

    %mh0-$(nmsp) {
      @extend %mh0;
    }
    %mh1-$(nmsp) {
      @extend %mh1;
    }
    %mh2-$(nmsp) {
      @extend %mh2;
    }
    %mh3-$(nmsp) {
      @extend %mh3;
    }
    %mh4-$(nmsp) {
      @extend %mh4;
    }
    %mh5-$(nmsp) {
      @extend %mh5;
    }
    %mh6-$(nmsp) {
      @extend %mh6;
    }
    %mh7-$(nmsp) {
      @extend %mh7;
    }
  }
}
