/*

   TYPOGRAPHY
   http://tachyons.io/docs/typography/measure/

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/



/* Measure is limited to ~66 characters */
%measure {
  max-width: var(--measure);
}

/* Measure is limited to ~80 characters */
%measure-wide {
  max-width: var(--measure-wide);
}

/* Measure is limited to ~45 characters */
%measure-narrow {
  max-width: var(--measure-narrow);
}

/* Book paragraph style - paragraphs are indented with no vertical spacing. */
%indent {
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

%small-caps {
  font-variant: small-caps;
}

/* Combine this class with a width to truncate text (or just leave as is to truncate at width of containing element. */

%truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@each $bkpt, $nmsp in (--breakpoint-not-small, --breakpoint-medium, --breakpoint-large), (ns, m, l) {
  @media ($bkpt) {
    %measure-$(nmsp) {
      @extend %measure;
    }
    %measure-wide-$(nmsp) {
      @extend %measure-wide;
    }
    %measure-narrow-$(nmsp) {
      @extend %measure-narrow;
    }
    %indent-$(nmsp) {
      @extend %indent;
    }
    %small-caps-$(nmsp) {
      @extend %small-caps;
    }
    %truncate-$(nmsp) {
      @extend %truncate;
    }
  }
}
