/*

   UTILITIES

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/* Equivalent to %overflow-y-scroll */
%overflow-container {
  overflow-y: scroll;
}

%center {
  margin-right: auto;
  margin-left: auto;
}

%mr-auto { margin-right: auto; }
%ml-auto { margin-left:  auto; }

@each $bkpt, $nmsp in (--breakpoint-not-small, --breakpoint-medium, --breakpoint-large), (ns, m, l) {
  @media ($bkpt) {
    %overflow-container-$(nmsp) {
      @extend %overflow-container;
    }
    %center-$(nmsp) {
      @extend %center;
    }
    %mr-auto-$(nmsp) {
      @extend %mr-auto;
    }
    %ml-auto-$(nmsp) {
      @extend %ml-auto;
    }
  }
}
