/*

   VERTICAL ALIGN

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

%v-base     { vertical-align: baseline; }
%v-mid      { vertical-align: middle; }
%v-top      { vertical-align: top; }
%v-btm      { vertical-align: bottom; }

@each $bkpt, $nmsp in (--breakpoint-not-small, --breakpoint-medium, --breakpoint-large), (ns, m, l) {
  @media ($bkpt) {
    %v-base-$(nmsp) {
      @extend %v-base;
    }
    %v-mid-$(nmsp) {
      @extend %v-mid;
    }
    %v-top-$(nmsp) {
      @extend %v-top;
    }
    %v-btm-$(nmsp) {
      @extend %v-btm;
    }
  }
}
