/*

   WHITE SPACE

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/


%ws-normal { white-space: normal; }
%nowrap { white-space: nowrap; }
%pre { white-space: pre; }

@each $bkpt, $nmsp in (--breakpoint-not-small, --breakpoint-medium, --breakpoint-large), (ns, m, l) {
  @media ($bkpt) {
    %ws-normal-$(nmsp) {
      @extend %ws-normal;
    }
    %nowrap-$(nmsp) {
      @extend %nowrap;
    }
    %pre-$(nmsp) {
      @extend %pre;
    }
  }
}


