/*

   WIDTHS
   Docs: http://tachyons.io/docs/layout/widths/

   Base:
     w = width

     Modifiers
       1 = 1st step in width scale
       2 = 2nd step in width scale
       3 = 3rd step in width scale
       4 = 4th step in width scale
       5 = 5th step in width scale

       -10  = literal value 10%
       -20  = literal value 20%
       -25  = literal value 25%
       -30  = literal value 30%
       -33  = literal value 33%
       -34  = literal value 34%
       -40  = literal value 40%
       -50  = literal value 50%
       -60  = literal value 60%
       -70  = literal value 70%
       -75  = literal value 75%
       -80  = literal value 80%
       -90  = literal value 90%
       -100 = literal value 100%

       -third      = 100% / 3 (Not supported in opera mini or IE8)
       -two-thirds = 100% / 1.5 (Not supported in opera mini or IE8)
       -auto       = string value auto


     Media Query Extensions:
       -ns = not-small
       -m  = medium
       -l  = large

  */

/* Width Scale */

%w1 {    width: var(--width-1); }
%w2 {    width: var(--width-2); }
%w3 {    width: var(--width-3); }
%w4 {    width: var(--width-4); }
%w5 {    width: var(--width-5); }

%w-10 {  width:  10%; }
%w-20 {  width:  20%; }
%w-25 {  width:  25%; }
%w-30 {  width:  30%; }
%w-33 {  width:  33%; }
%w-34 {  width:  34%; }
%w-40 {  width:  40%; }
%w-50 {  width:  50%; }
%w-60 {  width:  60%; }
%w-70 {  width:  70%; }
%w-75 {  width:  75%; }
%w-80 {  width:  80%; }
%w-90 {  width:  90%; }
%w-100 { width: 100%; }

%w-third { width: calc(100% / 3); }
%w-two-thirds { width: calc(100% / 1.5); }
%w-auto { width: auto; }

@each $bkpt, $nmsp in (--breakpoint-not-small, --breakpoint-medium, --breakpoint-large), (ns, m, l) {
  @media ($bkpt) {
    %w1-$(nmsp) {
      @extend %w1;
    }
    %w2-$(nmsp) {
      @extend %w2;
    }
    %w3-$(nmsp) {
      @extend %w3;
    }
    %w4-$(nmsp) {
      @extend %w4;
    }
    %w5-$(nmsp) {
      @extend %w5;
    }
    
    %w-10-$(nmsp) {
      @extend %w-10;
    }
    %w-20-$(nmsp) {
      @extend %w-20;
    }
    %w-25-$(nmsp) {
      @extend %w-25;
    }
    %w-30-$(nmsp) {
      @extend %w-30;
    }
    %w-33-$(nmsp) {
      @extend %w-33;
    }
    %w-34-$(nmsp) {
      @extend %w-34;
    }
    %w-40-$(nmsp) {
      @extend %w-40;
    }
    %w-50-$(nmsp) {
      @extend %w-50;
    }
    %w-60-$(nmsp) {
      @extend %w-60;
    }
    %w-70-$(nmsp) {
      @extend %w-70;
    }
    %w-75-$(nmsp) {
      @extend %w-75;
    }
    %w-80-$(nmsp) {
      @extend %w-80;
    }
    %w-90-$(nmsp) {
      @extend %w-90;
    }
    %w-100-$(nmsp) {
      @extend %w-100;
    }

    %w-third-$(nmsp) {
      @extend %w-third;
    }
    %w-two-thirds-$(nmsp) {
      @extend %w-two-thirds;
    }
    %w-auto-$(nmsp) {
      @extend %w-auto;
    }
  }
}
