/*

  WORD BREAK

   Base:
     word = word-break

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

%word-normal { word-break: normal; }
%word-wrap { word-break: break-all; }
%word-nowrap { word-break: keep-all; }

@each $bkpt, $nmsp in (--breakpoint-not-small, --breakpoint-medium, --breakpoint-large), (ns, m, l) {
  @media ($bkpt) {
    %word-normal-$(nmsp) {
      @extend %word-normal;
    }
    %word-wrap-$(nmsp) {
      @extend %word-wrap;
    }
    %word-nowrap-$(nmsp) {
      @extend %word-nowrap;
    }
  }
}

